@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --bg: #2A186C;
    --tw-gold: #F7E93F;
    --tw-pink: #FB09B4;
    --tw-purple: #9100F8;
    --u-bold: 900;
}

body{
    font-family: Inter, "Century-Gothic", sans-serif;
}